html {
    box-sizing: border-box;
    color: #fff;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
    background:
        linear-gradient(45deg, rgb(109, 32, 58) 0%, hsla(340, 100%, 55%, 0) 70%),
        linear-gradient(135deg, rgba(80, 79, 7, 0.712) 10%, hsla(225, 95%, 50%, 0) 80%),
        linear-gradient(225deg, rgb(18, 67, 90) 10%, hsla(140, 90%, 50%, 0) 80%),
        linear-gradient(315deg, rgb(28, 70, 45) 100%, hsla(35, 95%, 55%, 0) 70%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1 {
    font-weight: 700;
    text-align: center;
    margin-bottom: 3rem;
    font-size: 2.5rem;
    font-family: 'Lobster';
}

h2 {
    text-align: center;
    /* margin-top: 3rem; */
    text-transform: uppercase;
    margin: 1rem auto;
}

main {
    background-color: rgba(26, 22, 22, 0.178);
    width: 95vw;
    margin: auto;
    /* margin-top: 30px; */
    margin-bottom: 40px;
    height: 100%;
    padding: 30px 20px 20px 20px;
    border-radius: 15px;
    transition: all .2s;

}

.search p {
    text-align: center;
}

.mandatory {
    text-align: left !important;
    margin-bottom: 2.5rem;
    margin-top: 2rem;
}

.search span {
    color: rgb(0, 255, 255);
}

input {
    border-radius: 5px;
}

.input {
    margin-bottom: 1rem;
    border-radius: 10px;
}

.text {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

input:focus {
    border-radius: 5px;
    border: 1px solid #1d5b69;
    outline: none;
}

.input label {
    text-align: center;
    margin-right: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    grid-column: 1/2;
    line-height: 40px;
}

.input span {
    color: rgb(0, 255, 255);
}

.input input[type="text"] {
    height: 2.5rem;
    padding: 1rem;
    grid-column: 2/5;
    border: 1px solid #ccc;
    background-color: transparent;
    color: #fff;
}

.send {
    display: flex;
    justify-content: center !important;


}

.input input[type="submit"] {
    /* background-color: #116e30; */
    /* padding: 1rem 3rem; */
    /* color: #fff; */
    margin: 0 auto;
    /* border: none; */
    /* transition: all .3s ease-in-out; */
    /* border-radius: 10px; */
    text-transform: uppercase;
    font-size: 1.3rem;
    background-color: transparent;
    border: none;
    z-index: 100;
    padding: 1rem 2rem;
    color: #fff;
    font-weight: bold;
}

.input input[type="submit"]:hover {
    cursor: pointer;
    /* background-color: #199259; */
}

.error {
    padding: 1rem;
    border: 1px solid rgb(88, 136, 24);
    background-color: rgb(68, 8, 8);
    margin-top: 1rem;
    text-align: center;
    border-radius: 5px;
}

#result {
    white-space: pre-wrap;
    text-align: center;
    line-height: 1.7rem;
    margin-top: 4rem;
}


@media (min-width:576px) {
    main {
        max-width: 70vw;
        padding: 50px;
        padding-bottom: 2rem;
    }

    .input input[type="text"] {
        margin-right: 3rem;
    }

    h1 {
        font-size: 3rem;
    }
}

@media (min-width:992px) {
    main {
        max-width: 50vw;
    }
}





/*! Footer */

article,
footer {
    line-height: 1.4rem;
}

footer a {
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
}

footer {
    letter-spacing: 2.5rem;
    line-height: 3rem !important;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgba(31, 54, 61, 0.377);
    width: 100%;
    padding-top: 2rem;
    opacity: 0.9;
    margin-top: auto;
    align-content: flex-end;
    height: 150px;
}

footer p,
footer p a {
    margin-top: 20px;
    letter-spacing: 0;
    font-size: 0.8rem;
    width: 100%;
    text-align: center;
    color: #fff;
}

footer p span {
    font-size: 1.2rem;
    vertical-align: -3px;
}

@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

footer a:hover {
    color: #50d662;
    display: block;
    animation: pulse 1s ease-in;

}

footer p a:hover {
    display: inline;
    color: #50d662;
    animation: none;
}


/*! Back top button */

.gototop {
    position: fixed;
    display: block;
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    border: none;
    background-color: rgb(28, 201, 43);
    border-radius: 3px;
    bottom: 25px;
    right: 25px;
    margin-right: -100px;
    outline: none;
    opacity: 0;
    transition: opacity .3s ease, margin-right .5s ease-out;
    cursor: pointer;
}

.gototop:hover {
    opacity: .8;
}

.visible {
    transition: opacity .3s ease, margin-right .5s ease-out;
    margin-right: 0px;
    opacity: .6;
}

.gototop::before,
.gototop::after {
    content: '';
    position: absolute;
    height: 18px;
    width: 2px;
    background-color: #fff;
    top: 16px;
}

.gototop::before {
    left: 18px;
    transform: rotate(45deg);
}

.gototop::after {
    right: 18px;
    transform: rotate(-45deg);
}




/*! Submit Button */

#testbutton {
    width: fit-content;
    width: -moz-fit-content;
    border: 1px solid #ccc;
    border-radius: 50px;
    position: relative;

    background: linear-gradient(60deg, #d4802c, #d1604a, #ca4168, #885691, #3e598f, #0c7585, #058171, #51865e);
    cursor: pointer;
    line-height: 12px;
    margin: 0 auto;
}

#testbutton:before {
    content: '';
    z-index: 1;
    position: absolute;
    display: block;
    width: 80%;
    height: 70%;
    top: 15%;
    left: 10%;
    transition: 0.3s opacity ease-in-out;
    filter: blur(15px);
    opacity: 0;
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
}

#testbutton:hover:before {
    opacity: 1;
    transition: 0.3s opacity ease-in-out;
    filter: blur(25px);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
}

#testbutton:after {
    /* content: 'SEARCH'; */
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    color: rgba(235, 235, 235, 1);
    font-family: 'Verdana';
    font-weight: bold;
    z-index: 5;
    position: absolute;
    display: block;
    border-radius: 180px;
    width: 92%;
    height: 80%;
    top: 10%;
    left: 4%;
    background-color: rgb(16, 43, 22);
}